body {
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
    user-select: none;
}

.sidebar {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .9)), url(https://i.imgur.com/n6IlL32g.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 7px 25px #999;
}
.sidebar-link {
    transition: all .4s;
}
.sidebar-link:hover {
    background-color: #444;
    border-radius: 5px;
}
.bottom-border {
    border-bottom: 1px groove #eee;
}
.current {
    background-color: #f44336;
    border-radius: 7px;
    box-shadow: 2px 5px 10px #111;
    transition: all .3s;
}
.current:hover {
    background-color: #f66436;
    border-radius: 7px;
    box-shadow: 2px 5px 20px #111;
    transform: translateY(-1px);
}
.page-link:focus {
    box-shadow: none !important;
    border-color: transparent !important;
}

@media (max-width: 768px) {
    .sidebar {
        position: static;
        height: auto;
    }
    .top-navbar {
        position: static;
    }
}
