extends layout

block title
    +Title('Dashboard')

block section
    section
        .container-fluid
            .row
                .col-lg-10.ml-auto
                    .row.pt-5.mt-3.mb-5
                        .col-sm-6
                            .image-wrapper.pr-3.float-left
                                img(src="https://imgur.com/QvReqZN.png", width="170")
                            .single-post-content-wrapper.p-3
                                span.font-weight-bold Crucian is my discord bot with simple structure based on discord.js
